doctype html

head
    title My Site
    script(src='/static/main.js')
    style(type='text/css').
        body {
            padding: 0px;
            margin: 0 auto;
        }
        #container {
            padding: 10px;
            height: 95vh;
            width: 95vw;

        }
        .vid {
            position: relative;
            height: 100vh;
            display: block;
            width: 98vw;
        }
        .vid:hover {
        }

body
    div#container
        each item in locals
            - ref = item.elId+1
            - if (ref == locals.length) {
            -    ref = 0
            - }
            a(href="/#"+ref onClick="showNext()")
                div(id="" + item.elId)
                    video.vid(autoplay muted preload loop)
                        source(src="https://gifstv.com/api/" + item.VideoPathMp4, type="video/mp4")
